.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #5b5c5b;
}
.nav-pills .nav-link{
    color:#5b5c5b;
}
.nav-link:hover {
    color: rgb(241, 78, 228);
}
.row{
    margin-top:40px;
}